/* infra – only the weights used on the page */

@font-face {
    font-family: infra;
    src: url(/font/infra/infra-400.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: infra;
    src: url(/font/infra/infra-500.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: infra;
    src: url(/font/infra/infra-600.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: infra;
    src: url(/font/infra/infra-800.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: optional;
}
