html {
    box-sizing: border-box;
    font-family: infra;
    font-weight: 400;
    color: var(--text-primary);
    background-color: var(--background-primary);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

* {
    --text-primary: hsl(36, 14%, 93%);
    --text-secondary: hsl(0, 0%, 80%);
    --background-primary: hsl(232, 41%, 10%);
    --background-secondary: hsl(232, 41%, 15%)
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
    margin: 0;
    text-transform: uppercase;
    font-family: infra;
    font-weight: 800;
}

ul {
    padding-left: 1.5em;
}

hr {
    margin: 1em 0;
}

img {
    max-width: 100%;
}

a {
    color: var(--text-primary);
    text-decoration: none;
    transform: color .2s;
}

h3 a {
    text-decoration: underline;
    color: var(--text-primary);
}

h3 a:hover {
    text-decoration: underline;
    color: var(--text-secondary);
}

.cta {
    align-self: flex-end;
    justify-self: baseline;

    border-radius: 1em;

    width: fit-content;
    padding: .5em 1em;

    font-weight: 500;
    background-color: var(--text-primary);
    color: var(--background-secondary);

    transition: background-color .2s;
}

.cta:hover {
    background-color: var(--text-secondary);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

    min-height: 100vh;
    background-image: url("../img/khazix-deathblossom-splash.jpg");
    background-size: cover;
    background-position: center;
}

header {
    padding: .5em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background-color: var(--background-primary);
    width: 100%;
    position: sticky;
    top: 0;
}

header p {
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;

    max-width: 45em;

    padding: 0 2em;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
    border-radius: .75em;
}

.article-group {
    display: flex;
    gap: 2em;
    width: 100%;
    flex-wrap: wrap;
}

.article-group article {
    flex-grow: 1;
}

.core-beliefs {
    background-color: rgba(89, 67, 131, 0.5);
    border-radius: 1em;
}

.experience {
    background-color: rgba(171, 146, 191, 0.4);
}

.example-work {
    background-color: rgba(93, 175, 184, 0.4);
    /* background-color: #463566; */
}

.strengths {
    background-color: rgba(49, 58, 116, 0.5);
}

.references {
    background-color: rgba(6, 81, 67, 0.6);
    justify-content: start;
}

.reference-list > ul {
    list-style: none;
    padding-left: 0;
}

.reference-list > ul > li > a {
    text-decoration: underline;
}

.team {
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
}

.team-logo {
    width: 1.75rem;
}

footer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    background-color: var(--background-primary);
    width: 100%;
    position: sticky;
    bottom: 0;
    justify-content: center;
}

.footer-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.socials {
    display: flex;
    gap: 1em;
    align-items: center;
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.languages > img {
    width: 2em;
    height: 100%;
    border-radius: .15em;
}

.socials a img {
    height: 1.5rem;
}
